.menu {
	display: flex;
	justify-content: center;
	background-color: var(--gray-8);
}

.menu .menu {
	display: none;
	width: 12rem;
	position: absolute;
}

.item {
	position: relative;
}

.button {
	display: flex;
	width: 100%;
	text-align: left;
	padding: .5rem 1rem;
	background-color: var(--gray-8);
	color: var(--gray-1);
	font-weight: 600;
	font-size: .875rem;
	line-height: 1.5rem;
}

.button:hover {
	background-color: var(--gray-9);;
}

.item.has-menu > .button::after {
	content: '\25be';
	margin-left: .25rem;
}

.item.has-menu > .button[aria-expanded='true'] {
	background-color: var(--gray-9);;
}

.item.has-menu > .button[aria-expanded='true']::after {
	content: '\25b4';
}
